<div class="container-inicio">
  <app-nav></app-nav>
      <h1 class="wellcome">Bem Vindo, Diego!</h1>
      
        <div class="cards-container">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://icons-for-free.com/download-icon-credit+card+debit+card+master+card+icon-1320184902602310693_512.png" alt="Card image cap">
                <div class="card-body">
                    <a href="#"  class="btn btn-light button-cards" (click)="irBoletos()">Pagamentos</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.pinimg.com/564x/b0/17/86/b017867ca067c350cc36e0d1b5b04c1c--judo.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="btn btn-light button-cards" (click)="irAlunos()">Meus Alunos</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/documento-de-certificado-e-ilustra%C3%A7%C3%A3o-desenho-fita-garantida-s%C3%ADmbolo-do-vetor-da-banda-192644352.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="/certificados" class="btn btn-light button-cards">Diplomas</a>
                </div>
            </div>

        </div>

</div>