.container-alunos{
    min-width: 100vw;
    min-height: 100vh;
    
    max-width: 100vw;
    height: auto;
    scroll-behavior: auto;
   
    background-color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Marcellus', serif;
   
}

.icon{
    min-height: 2%;
    
}

.obs{
    color: red;
    font-weight: 600;
   
}

.card-title,
.card-text{

    text-align: center;
}

.card-img-top{
    width: 150px;
    height: 150px;
    margin-left: 20%;
    
}

.card-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 
}
::-webkit-input-placeholder {
    color: rgba(255, 0, 0, 0.596);
 }

 .buttons-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }