.container-alunos{
    min-width: 100vw;
    min-height: 100vh;
    
    max-width: 100vw;
    height: auto;
    scroll-behavior: auto;
   
    background-color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Marcellus', serif;
    color: #347571;
   
}
.alunos-menu{
    display: flex;
    flex-direction: row;
    /* color: white;
    margin-top: 5%; */
    justify-content: space-evenly;

    text-align: center;
    font-family: 'Marcellus', serif;
    color: #E1E4E7;
    margin-top: 3%;
    margin-bottom: 3%;
    letter-spacing: 15px;
    
}
.alunos-btn{
    border-color: white;
    color: white;
    background-color: transparent;
    border-width: 1px;
    border-radius: 5%;

}

.icon{
    min-height: 2%;
    
}

.obs{
    color: red;
    font-weight: 600;
   
}

.card-title,
.card-text{

    text-align: center;
}

.card-img-top{
    width: 150px;
    height: 150px;
    margin-left: 20%;
    border-radius: 70px;
    
}

.card-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 
}
::-webkit-input-placeholder {
    color: rgba(255, 0, 0, 0.596);
 }

 .buttons-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }