<div class="container-alunos">
    <app-nav></app-nav>
    <div class="card-group">
        
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../../assets/img/kimono.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Yago Zacarias</h5>
            <p class=" card-text obs">Observação:</p>
            <p class="card-text">O aluno Zacarete é Muito mal comportado</p>
            </div>
        </div>

        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../../assets/img/kimono.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Yago Zacarias</h5>
            <p class=" card-text obs">Observação:</p>
            <p class="card-text">O aluno Zacarete é Muito mal comportado</p>
            </div>
        </div>

        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../../assets/img/kimono.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Yago Zacarias</h5>
            <p class=" card-text obs">Observação:</p>
            <p class="card-text">O aluno Zacarete é Muito mal comportado</p>
            </div>
        </div>

        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../../assets/img/kimono.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Yago Zacarias</h5>
            <p class=" card-text obs">Observação:</p>
            <p class="card-text">O aluno Zacarete é Muito mal comportado</p>
            </div>
        </div>

        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../../assets/img/kimono.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Yago Zacarias</h5>
            <p class=" card-text obs">Observação:</p>
            <p class="card-text">O aluno Zacarete é Muito mal comportado</p>
            </div>
        </div>

        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../../assets/img/kimono.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Yago Zacarias</h5>
            <p class=" card-text obs">Observação:</p>
            <p class="card-text">O aluno Zacarete é Muito mal comportado</p>
            </div>
        </div>

        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../../assets/img/kimono.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Yago Zacarias</h5>
            <p class=" card-text obs">Observação:</p>
            <p class="card-text">O aluno Zacarete é Muito mal comportado</p>
            </div>
        </div>

        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../../assets/img/kimono.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Yago Zacarias</h5>
            <p class=" card-text obs">Observação:</p>
            <p class="card-text">O aluno Zacarete é Muito mal comportado</p>
            </div>
        </div>

        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../../assets/img/kimono.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Yago Zacarias</h5>
            <p class=" card-text obs">Observação:</p>
            <p class="card-text">O aluno Zacarete é Muito mal comportado</p>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../../assets/img/kimono.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Yago Zacarias</h5>
            <p class=" card-text obs">Observação:</p>
            <p class="card-text">O aluno Zacarete é Muito mal comportado</p>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="../../../assets/img/kimono.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Yago Zacarias</h5>
            <p class=" card-text obs">Observação:</p>
            <p class="card-text">O aluno Zacarete é Muito mal comportado</p>
            </div>
        </div>
    </div>
</div>