<div class="container-nav">
    <div class="container-logo">
        <h3>Diego </h3><h3 class="color-2"> Professor</h3>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse itens-nav" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Usuario<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sair</a>
            </li>
          </ul>
        </div>
      </nav>
</div>