.container-logo{
    background-color: #FBD515;
    width: 100%;
    display: flex;
    flex-direction: row;
}

h3{
    font-family: 'Marcellus', serif;
    color: white;
}

.color-2{
    color: #545454;
}


.itens-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.itens-nav,
.nav-link{
    color: white;
    font-family: 'Marcellus', serif;
}

.nav-link:hover{
    background-color: #FBD515;
    
}

.navbar{
    background-color: #292C24;
}
