<div class="container-boletos">
    <app-nav></app-nav>
    <h1 class="boletos">Boletos</h1>
    <div class="container2">
        <div class="container-list">
            <table class="table ">
                <thead class="thead-color">
                <tr class="cabec">
                    <th scope="col"> </th>
                    <th scope="col">Boleto</th>
                    <th scope="col">Aluno</th>
                    <th scope="col">Status</th>
                    <th class="ultimo-th" scope="col">Editar</th>
                </tr>
                </thead>
                <tbody>
                <tr  class="lines">
                    <th scope="row"><i class="fa fa-file-text" aria-hidden="true"></i></th>
                    <td>0123 1234 4321</td>
                    <td>Yago Zacarias</td>
                    <td>Em aberto</td>
                    <td class="buttons-action">
                        <button class="botao"><i><img src="../../../assets/img/loupe.png"></i></button>
                        <button class="botao"><i><img src="../../../assets/img/printer.png"></i></button>
                        <button class="botao"><i><img src="../../../assets/img/delete.png"></i></button>
                    </td>
                </tr>
                <tr  class="lines">
                    <th scope="row"><i class="fa fa-file-text" aria-hidden="true"></i></th>
                    <td>0123 1234 4321</td>
                    <td>Eduarda Albuquerque</td>
                    <td>Concluído</td>
                    <td class="buttons-action">
                        <button class="botao"><i><img src="../../../assets/img/loupe.png"></i></button>
                        <button class="botao"><i><img src="../../../assets/img/printer.png"></i></button>
                        <button class="botao"><i><img src="../../../assets/img/delete.png"></i></button>
                    </td>
                </tr>
                <tr  class="lines">
                    <th scope="row"><i class="fa fa-file-text" aria-hidden="true"></i></th>
                    <td>0123 1234 4321</td>
                    <td>Guilherme Laurentino</td>
                    <td>Em aberto</td>
                    <td class="buttons-action">
                        <button class="botao"><i><img src="../../../assets/img/loupe.png"></i></button>
                        <button class="botao"><i><img src="../../../assets/img/printer.png"></i></button>
                        <button class="botao"><i><img src="../../../assets/img/delete.png"></i></button>
                    </td>
                </tr>
                <tr  class="lines">
                    <th scope="row"><i class="fa fa-file-text" aria-hidden="true"></i></th>
                    <td>0123 1234 4321</td>
                    <td>Josana Ribeiro</td>
                    <td>Concluído</td>
                    <td class="buttons-action">
                        <button class="botao"><i><img src="../../../assets/img/loupe.png"></i></button>
                        <button class="botao"><i><img src="../../../assets/img/printer.png"></i></button>
                        <button class="botao"><i><img src="../../../assets/img/delete.png"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>   

</div>